.footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #cccccc;
}

.footer h5 {
  margin-bottom: 20px;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.footer ul li i {
  margin-right: 10px;
}

.d-flex {
  margin-left: 0; 
  margin-right: 0; 
}

.whatsapp-icon {
  font-size: 1.5rem; 
}

.circular-button {
  width: 120px; 
  height: 120px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; 
}


@media (max-width: 768px) {
  .footer {
      padding: 15px 10px; 
  }

  .footer h5 {
      font-size: 1.5rem; 
  }

  .footer ul li {
      margin-bottom: 8px; 
  }

  .footer iframe {
      width: 100%; 
      height: auto; 
  }

  .circular-button {
      width: 80px; 
      height: 80px; 
  }

  .circular-button i {
      font-size: 3rem;
  }
}
