.btn-custom {
    color: black;
}

.btn-custom.active {
    color: white;
    background-color: black;
}

.carousel-item {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.carousel-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.carousel-indicators [data-bs-target] {
    background-color: #000;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.carousel-indicators .active {
    background-color: #fff;
}

.card-responsive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative; 
}

.card-responsive img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0 0 70px 0;
    border-bottom: 5px solid #3ABEF9;
}

.text-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; 
}

.text-container p {
    margin: 0;
    font-size: 16px; 
    word-wrap: break-word; 
    white-space: normal; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.text-container p.title {
    font-size: 12px; 
    font-weight: bold; 
    line-height: 1.2; 
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    white-space: normal; 
    text-overflow: ellipsis;
}

.text-container p.date {
    font-size: 10px;
}

@media (max-width: 768px) {
    .card-responsive img {
        height: 150px; 
    }

    .text-container p.title {
        font-size: 12px; 
    }
}
.marquee-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: relative;
    background-color: #79b2db; /* Optional: add a background color */
}

.label {
    position: absolute; /* Make the label absolute */
    left: 50vh; /* Set a fixed position from the left */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust to center */
    font-weight: bold; /* Make the label bold */
}

.marquee {
    display: flex;
    align-items: center; /* Center vertically for label and item */
    justify-content: center; /* Center the item */
    flex: 1;
    position: relative;
}

.marquee-item {
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    height: 50px;
    opacity: 0; /* Mulai dengan tidak terlihat */
    animation: slideDown 0.5s forwards; /* Animasi muncul */
}

.show {
    opacity: 1; /* Menjadi terlihat */
    animation: slideDown 0.5s forwards; /* Animasi untuk muncul */
}

.hide {
    opacity: 0; /* Hilang */
    animation: slideDownOut 0.5s forwards; 
}

/* Kunci animasi muncul */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0); 
    }
}

/* Kunci animasi menghilang */
@keyframes slideDownOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%); 
    }
}
  

